<div class="container">
  <div class="row d-flex justify-content-center">
    <div>      
      <form action="/" method="post">
         {{!-- 若使用者沒有輸入內容，就按下了送出鈕，需要防止表單送出並提示使用者 --}}
        <input  type="text" name="inputUrl" placeholder="請輸入想變更的網址"  >
        <button type="submit" class="btn btn-primary ml-2 ">開始變更</button>
      </form>
    </div>
  </div>
</div>