<div class="container">
    <div class="row d-flex justify-content-center">
        <h1>成功了! 請使用下面的連結</h1>

    </div>
    <div class="row d-flex justify-content-center">
        <button type="submit" class="btn btn-primary ml-2 ">複製</button>
    </div>
</div>